.main-title {
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(11, 120, 221, 1) 0%,
    rgba(11, 120, 221, 1) 80%,
    rgba(11, 221, 145, 1) 100%
  );
  color: transparent;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@mixin hidden-balance-($color) {
  color: transparent;
  text-shadow: rgb($color) 0px 0px 14px;
}

.hidden-balance {
  @include hidden-balance-(255 255 255);
}

.hidden-balance-primary {
  @include hidden-balance-(var(--color-primary));
}

.hidden-balance-secondary {
  @include hidden-balance-(var(--color-secondary));
}

.hidden-balance-sub-dark {
  @include hidden-balance-(var(--color-sub-dark));
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.shadow-card {
  box-shadow: 0px 9px 33px rgba(5, 37, 118, 0.03),
    0px 1px 4px rgba(5, 37, 118, 0.06);
}
