@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/Silka/silka-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Silka';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/Silka/silka-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Silka';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('../public/fonts/Silka/silka-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Silka';
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url('../public/fonts/Silka/silka-light.woff2') format('woff2');
}

@layer base {
  [data-theme='investify'] {
    --color-primary: 31 8 96;
    --color-secondary: 11 120 221;
    --color-tertiary: 68 62 80;
    --color-text: 31 8 96;
    --color-sub-dark: 115 120 165;
    --color-sub-light: 186 189 220;
    --color-cards: 255 255 255;
    --color-background: 250 249 255;
    --color-light-gray: 246 247 255;
    --color-sidebar: 240 242 255;
    --color-custom-border: 235 239 250;
    --color-success: 20 80 34;
    --color-error: 139 11 11;
    --color-warning: 255 220 132;
    --color-info: 194 215 255;
    --color-red: 246 112 112;
    --color-green: 29 180 107;
  }
}
