# compiled output
node_modules/
dist/
tmp/
out-tsc/
build
artifacts/
typechain/
cache/
.yarn/
.next/
out/
.vercel/

# docs
docs/src

# testing
coverage/
.coverage_artifacts/
.coverage_contracts/
.coverage_cache/
coverage.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# Env file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# pnp
.pnp/
.pnp.js

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sdk log files
.log__sdk/

# misc
.sass-cache/
connect.lock/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/
*.pem
.DS_Store
Thumbs.db
package-lock.json

# generated typechain code
libs/shared/util-blockchain/src/

NOTES.md
epochs/