.button {
  @apply py-2 rounded leading-5 bg-highlight border-2 border-highlight font-bold;
  &:hover {
    @apply bg-primary;
  }
}

.lg {
  @apply px-8 rounded-md;
}

.gradient {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #d7099c, #28d2ff);
  background-origin: border-box;
  border: solid 3px transparent;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #201140 inset;

  &:hover {
    box-shadow: 2px 1000px 1px #ffffff inset;
    color: #000000;
  }
}

.inverted {
  @apply bg-primary;
  color: #ffffff;
  &:hover {
    @apply bg-highlight;
  }
}
