.swiperSlider {
  :global {
    .swiper-slide {
      transition: 0.6s all, 0s opacity;
      transform: scale(0.6);
      opacity: 0;
      transform-origin: center center;
      z-index: 1;
    }

    .swiper-slide-next,
    .swiper-slide-prev {
      transform: scale(0.8);
      opacity: 0.6;
      z-index: 2;
    }

    .swiper-slide-active {
      transform: scale(1.2);
      z-index: 3;
      opacity: 1;
    }

    .swiper-slide-fifth-left {
      opacity: 0.6;
      transform-origin: center right;
    }

    .swiper-slide-fifth-right {
      opacity: 0.6;
      transform-origin: center left;
    }
  }
}
